# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

Bryan.Apellanes.suo
Bryan.Apellanes.suo
Bryan.Apellanes.suo
Bryan.Apellanes.suo

Bryan.Apellanes.suo
Bryan.Apellanes.suo
Bryan.Apellanes.suo
NuGetPackages/Bryan/Bryan.Apellanes.CommandLine/Bryan.Apellanes.CommandLine.nuspec
NuGetPackages/Bryan/Bryan.Apellanes.CommandLine/lib/net40/Bryan.Apellanes.CommandLine.dll
NuGetPackages/Bryan/Bryan.Apellanes.CommandLine/lib/net40/Bryan.Apellanes.CommandLine.xml
NuGetPackages/Bryan/Bryan.Apellanes.CommandLine/lib/net40/KLGates.Core.CommandLine.dll
NuGetPackages/Bryan/Bryan.Apellanes.CommandLine/lib/net45/Bryan.Apellanes.CommandLine.xml
NuGetPackages/Bryan/Bryan.Apellanes.CommandLine/lib/net45/KLGates.Core.CommandLine.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/Bryan.Apellanes.Data.nuspec
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/Bryan.Apellanes.Data.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/Bryan.Apellanes.Data.Model.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/Bryan.Apellanes.Data.MsSql.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/Bryan.Apellanes.Data.Schema.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/Bryan.Apellanes.Data.SQLite.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/Bryan.Apellanes.Data.xml
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/KLGates.Core.Data.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/KLGates.Core.Data.Model.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/KLGates.Core.Data.MsSql.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/KLGates.Core.Data.Schema.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net40/KLGates.Core.Data.SQLite.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net45/Bryan.Apellanes.Data.xml
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net45/KLGates.Core.Data.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net45/KLGates.Core.Data.Model.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net45/KLGates.Core.Data.MsSql.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net45/KLGates.Core.Data.Schema.dll
NuGetPackages/Bryan/Bryan.Apellanes.Data/lib/net45/KLGates.Core.Data.SQLite.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/Bryan.Apellanes.Full.nuspec
NuGetPackages/Bryan/Bryan.Apellanes.Full/content/App_Start/KLGates.cs.pp
NuGetPackages/Bryan/Bryan.Apellanes.Full/content/web.config.transform
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Analytics.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Analytics.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Distributed.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Distributed.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Drawing.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Drawing.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Dust.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Dust.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Html.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Html.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Javascript.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Javascript.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Management.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Management.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Net.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Net.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Profiguration.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Profiguration.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Schema.Org.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Schema.Org.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Syndication.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Syndication.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.System.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.System.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Yaml.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Apellanes.Yaml.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/Bryan.Business.EnterpriseDataWarehouse.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/EntitySpaces.Core.DLL
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/EntitySpaces.DynamicQuery.DLL
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/EntitySpaces.Interfaces.DLL
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/EntitySpaces.Loader.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/EntitySpaces.SqlClientProvider.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/i4o.DLL
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Business.EnterpriseDataWarehouse.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Analytics.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Distributed.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Drawing.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Dust.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Html.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Javascript.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Management.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Net.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Profiguration.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Schema.Org.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Syndication.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.System.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net40/KLGates.Core.Yaml.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Analytics.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Analytics.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Distributed.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Distributed.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Drawing.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Drawing.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Dust.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Dust.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Html.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Html.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Javascript.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Javascript.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Management.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Management.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Net.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Net.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Profiguration.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Profiguration.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Schema.Org.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Schema.Org.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Syndication.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Syndication.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.System.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.System.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Yaml.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Apellanes.Yaml.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/Bryan.Business.EnterpriseDataWarehouse.xml
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/EntitySpaces.Core.DLL
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/EntitySpaces.DynamicQuery.DLL
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/EntitySpaces.Interfaces.DLL
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/EntitySpaces.Loader.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/EntitySpaces.SqlClientProvider.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/i4o.DLL
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Business.EnterpriseDataWarehouse.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Analytics.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Distributed.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Drawing.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Dust.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Html.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Javascript.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Management.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Net.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Profiguration.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Schema.Org.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Syndication.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.System.dll
NuGetPackages/Bryan/Bryan.Apellanes.Full/lib/net45/KLGates.Core.Yaml.dll
NuGetPackages/Bryan/Bryan.Apellanes.Incubation/Bryan.Apellanes.Incubation.nuspec
NuGetPackages/Bryan/Bryan.Apellanes.Incubation/lib/net40/Bryan.Apellanes.Incubation.dll
NuGetPackages/Bryan/Bryan.Apellanes.Incubation/lib/net40/Bryan.Apellanes.Incubation.xml
NuGetPackages/Bryan/Bryan.Apellanes.Incubation/lib/net40/KLGates.Core.Incubation.dll
NuGetPackages/Bryan/Bryan.Apellanes.Incubation/lib/net45/Bryan.Apellanes.Incubation.dll
NuGetPackages/Bryan/Bryan.Apellanes.Incubation/lib/net45/Bryan.Apellanes.Incubation.xml
NuGetPackages/Bryan/Bryan.Apellanes.Incubation/lib/net45/KLGates.Core.Incubation.dll
NuGetPackages/Bryan/Bryan.Apellanes.Logging/Bryan.Apellanes.Logging.nuspec
NuGetPackages/Bryan/Bryan.Apellanes.Logging/lib/net40/Bryan.Apellanes.Logging.dll
NuGetPackages/Bryan/Bryan.Apellanes.Logging/lib/net40/Bryan.Apellanes.Logging.xml
NuGetPackages/Bryan/Bryan.Apellanes.Logging/lib/net40/KLGates.Core.Logging.dll
NuGetPackages/Bryan/Bryan.Apellanes.Logging/lib/net45/Bryan.Apellanes.Logging.xml
NuGetPackages/Bryan/Bryan.Apellanes.Logging/lib/net45/KLGates.Core.Logging.dll
NuGetPackages/Bryan/Bryan.Apellanes.ServiceProxy/Bryan.Apellanes.ServiceProxy.nuspec
NuGetPackages/Bryan/Bryan.Apellanes.ServiceProxy/lib/net40/Bryan.Apellanes.ServiceProxy.dll
NuGetPackages/Bryan/Bryan.Apellanes.ServiceProxy/lib/net40/Bryan.Apellanes.ServiceProxy.xml
NuGetPackages/Bryan/Bryan.Apellanes.ServiceProxy/lib/net40/KLGates.Core.ServiceProxy.dll
NuGetPackages/Bryan/Bryan.Apellanes.ServiceProxy/lib/net45/Bryan.Apellanes.ServiceProxy.xml
NuGetPackages/Bryan/Bryan.Apellanes.ServiceProxy/lib/net45/KLGates.Core.ServiceProxy.dll
NuGetPackages/Bryan/Bryan.Apellanes.Testing/Bryan.Apellanes.Testing.nuspec
NuGetPackages/Bryan/Bryan.Apellanes.Testing/lib/net40/Bryan.Apellanes.Testing.dll
NuGetPackages/Bryan/Bryan.Apellanes.Testing/lib/net40/Bryan.Apellanes.Testing.xml
NuGetPackages/Bryan/Bryan.Apellanes.Testing/lib/net40/KLGates.Core.Testing.dll
NuGetPackages/Bryan/Bryan.Apellanes.Testing/lib/net45/Bryan.Apellanes.Testing.xml
NuGetPackages/Bryan/Bryan.Apellanes.Testing/lib/net45/KLGates.Core.Testing.dll
NuGetPackages/Bryan/Bryan.Apellanes.Users/Bryan.Apellanes.Users.nuspec
NuGetPackages/Bryan/Bryan.Apellanes.Users/lib/net40/Bryan.Apellanes.Security.xml
NuGetPackages/Bryan/Bryan.Apellanes.Users/lib/net40/Bryan.Apellanes.Users.dll
NuGetPackages/Bryan/Bryan.Apellanes.Users/lib/net40/KLGates.Core.Security.dll
NuGetPackages/Bryan/Bryan.Apellanes.Users/lib/net45/Bryan.Apellanes.Security.xml
NuGetPackages/Bryan/Bryan.Apellanes.Users/lib/net45/KLGates.Core.Security.dll
NuGetPackages/Bryan/Bryan.Apellanes/Bryan.Apellanes.nuspec
NuGetPackages/Bryan/Bryan.Apellanes/lib/net40/Bryan.Apellanes.dll
NuGetPackages/Bryan/Bryan.Apellanes/lib/net40/Bryan.Apellanes.xml
NuGetPackages/Bryan/Bryan.Apellanes/lib/net40/KLGates.Core.dll
NuGetPackages/Bryan/Bryan.Apellanes/lib/net45/Bryan.Apellanes.dll
NuGetPackages/Bryan/Bryan.Apellanes/lib/net45/Bryan.Apellanes.xml
NuGetPackages/Bryan/Bryan.Apellanes/lib/net45/KLGates.Core.dll
NuGetPackages/Bryan/build_sln_copy_all_pack_minor.cmd
NuGetPackages/Bryan/build_sln_copy_all_pack_patch.cmd
NuGetPackages/Bryan/build_solution.cmd
NuGetPackages/Bryan/BuildOutput/v4.0/Argotic.Common.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Argotic.Common.xml
NuGetPackages/Bryan/BuildOutput/v4.0/Argotic.Core.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Argotic.Core.xml
NuGetPackages/Bryan/BuildOutput/v4.0/Argotic.Extensions.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Argotic.Extensions.xml
NuGetPackages/Bryan/BuildOutput/v4.0/bam.exe.config
NuGetPackages/Bryan/BuildOutput/v4.0/BoneSoft.CSS.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Analytics.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Analytics.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.CommandLine.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.CommandLine.dll.config
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.CommandLine.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Data.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Data.Model.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Data.Model.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Data.MsSql.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Data.MsSql.xml
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Data.Schema.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Data.Schema.xml
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Data.SQLite.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Data.SQLite.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Data.xml
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Distributed.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Drawing.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Drawing.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Dust.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Dust.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Html.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Html.xml
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Incubation.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Incubation.xml
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Javascript.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Javascript.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Logging.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Logging.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Management.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Management.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Net.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Profiguration.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Schema.Org.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Schema.Org.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.ServiceProxy.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.ServiceProxy.xml
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Syndication.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Syndication.xml
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.System.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Testing.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Testing.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Users.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Yaml.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Bryan.Apellanes.Yaml.XML
NuGetPackages/Bryan/BuildOutput/v4.0/Conf.yaml
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/bg-body-bottom.jpg
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/bg-body-top.jpg
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/bg-content.png
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/bg-footer.png
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/bg-navigation.gif
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/bg-top-navigation-left.png
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/bg-top-navigation.png
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/bg-top-navigation2.png
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/border-top.gif
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/logo.gif
NuGetPackages/Bryan/BuildOutput/v4.0/content/images/zoom.png
NuGetPackages/Bryan/BuildOutput/v4.0/CsQuery.dll
NuGetPackages/Bryan/BuildOutput/v4.0/CsQuery.xml
NuGetPackages/Bryan/BuildOutput/v4.0/dotless.Core.dll
NuGetPackages/Bryan/BuildOutput/v4.0/EcmaScript.NET.dll
NuGetPackages/Bryan/BuildOutput/v4.0/EcmaScript.NET.modified.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Ionic.Zip.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Ionic.Zip.xml
NuGetPackages/Bryan/BuildOutput/v4.0/Jing.exe.config
NuGetPackages/Bryan/BuildOutput/v4.0/LaoTze.exe.config
NuGetPackages/Bryan/BuildOutput/v4.0/LaoTzu.exe.config
NuGetPackages/Bryan/BuildOutput/v4.0/masuco.exe.config
NuGetPackages/Bryan/BuildOutput/v4.0/Microsoft.Web.Infrastructure.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Newtonsoft.Json.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Newtonsoft.Json.xml
NuGetPackages/Bryan/BuildOutput/v4.0/nuver.exe.config
NuGetPackages/Bryan/BuildOutput/v4.0/rencopy.exe.config
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/AES.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/dust-full-0.3.0.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/dust.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/jquery.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/json2.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/less-rhino-1.3.1.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/modernizr-1.7.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/qi.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/qunit.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/SHA1.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/SHA256.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/spin.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/underscore.js
NuGetPackages/Bryan/BuildOutput/v4.0/scripts/yaml.js
NuGetPackages/Bryan/BuildOutput/v4.0/System.Data.SQLite.dll
NuGetPackages/Bryan/BuildOutput/v4.0/System.Data.SQLite.Linq.dll
NuGetPackages/Bryan/BuildOutput/v4.0/System.Data.SQLite.xml
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.Helpers.dll
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.Helpers.xml
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.Mvc.dll
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.Mvc.xml
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.Razor.dll
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.Razor.xml
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.WebPages.Deployment.dll
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.WebPages.Deployment.xml
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.WebPages.dll
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.WebPages.Razor.dll
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.WebPages.Razor.xml
NuGetPackages/Bryan/BuildOutput/v4.0/System.Web.WebPages.xml
NuGetPackages/Bryan/BuildOutput/v4.0/test.nuspec
NuGetPackages/Bryan/BuildOutput/v4.0/x64/SQLite.Interop.dll
NuGetPackages/Bryan/BuildOutput/v4.0/x86/SQLite.Interop.dll
NuGetPackages/Bryan/BuildOutput/v4.0/Yahoo.Yui.Compressor.dll
NuGetPackages/Bryan/BuildOutput/v4.0/YamlSerializer.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Argotic.Common.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Argotic.Common.xml
NuGetPackages/Bryan/BuildOutput/v4.5/Argotic.Core.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Argotic.Core.xml
NuGetPackages/Bryan/BuildOutput/v4.5/Argotic.Extensions.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Argotic.Extensions.xml
NuGetPackages/Bryan/BuildOutput/v4.5/bam.exe.config
NuGetPackages/Bryan/BuildOutput/v4.5/BoneSoft.CSS.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Analytics.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Analytics.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.CommandLine.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.CommandLine.dll.config
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.CommandLine.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Data.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Data.Model.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Data.Model.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Data.MsSql.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Data.MsSql.xml
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Data.Schema.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Data.Schema.xml
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Data.SQLite.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Data.SQLite.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Data.xml
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Distributed.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Drawing.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Drawing.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Dust.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Dust.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Html.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Html.xml
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Incubation.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Incubation.xml
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Javascript.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Javascript.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Logging.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Logging.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Management.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Management.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Net.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Profiguration.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Schema.Org.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Schema.Org.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.ServiceProxy.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.ServiceProxy.xml
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Syndication.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Syndication.xml
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.System.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Testing.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Testing.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Users.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Yaml.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Bryan.Apellanes.Yaml.XML
NuGetPackages/Bryan/BuildOutput/v4.5/Conf.yaml
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/bg-body-bottom.jpg
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/bg-body-top.jpg
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/bg-content.png
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/bg-footer.png
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/bg-navigation.gif
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/bg-top-navigation-left.png
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/bg-top-navigation.png
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/bg-top-navigation2.png
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/border-top.gif
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/logo.gif
NuGetPackages/Bryan/BuildOutput/v4.5/content/images/zoom.png
NuGetPackages/Bryan/BuildOutput/v4.5/CsQuery.dll
NuGetPackages/Bryan/BuildOutput/v4.5/CsQuery.xml
NuGetPackages/Bryan/BuildOutput/v4.5/dotless.Core.dll
NuGetPackages/Bryan/BuildOutput/v4.5/EcmaScript.NET.dll
NuGetPackages/Bryan/BuildOutput/v4.5/EcmaScript.NET.modified.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Ionic.Zip.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Ionic.Zip.xml
NuGetPackages/Bryan/BuildOutput/v4.5/Jing.exe.config
NuGetPackages/Bryan/BuildOutput/v4.5/LaoTze.exe.config
NuGetPackages/Bryan/BuildOutput/v4.5/LaoTzu.exe.config
NuGetPackages/Bryan/BuildOutput/v4.5/masuco.exe.config
NuGetPackages/Bryan/BuildOutput/v4.5/Microsoft.Web.Infrastructure.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Newtonsoft.Json.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Newtonsoft.Json.xml
NuGetPackages/Bryan/BuildOutput/v4.5/nuver.exe.config
NuGetPackages/Bryan/BuildOutput/v4.5/rencopy.exe.config
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/AES.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/dust-full-0.3.0.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/dust.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/jquery.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/json2.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/less-rhino-1.3.1.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/modernizr-1.7.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/qi.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/qunit.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/SHA1.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/SHA256.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/spin.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/underscore.js
NuGetPackages/Bryan/BuildOutput/v4.5/scripts/yaml.js
NuGetPackages/Bryan/BuildOutput/v4.5/System.Data.SQLite.dll
NuGetPackages/Bryan/BuildOutput/v4.5/System.Data.SQLite.Linq.dll
NuGetPackages/Bryan/BuildOutput/v4.5/System.Data.SQLite.xml
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.Helpers.dll
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.Helpers.xml
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.Mvc.dll
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.Mvc.xml
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.Razor.dll
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.Razor.xml
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.WebPages.Deployment.dll
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.WebPages.Deployment.xml
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.WebPages.dll
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.WebPages.Razor.dll
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.WebPages.Razor.xml
NuGetPackages/Bryan/BuildOutput/v4.5/System.Web.WebPages.xml
NuGetPackages/Bryan/BuildOutput/v4.5/test.nuspec
NuGetPackages/Bryan/BuildOutput/v4.5/x64/SQLite.Interop.dll
NuGetPackages/Bryan/BuildOutput/v4.5/x86/SQLite.Interop.dll
NuGetPackages/Bryan/BuildOutput/v4.5/Yahoo.Yui.Compressor.dll
NuGetPackages/Bryan/BuildOutput/v4.5/YamlSerializer.dll
NuGetPackages/Bryan/clean.cmd
NuGetPackages/Bryan/copy_all.cmd
NuGetPackages/Bryan/copy_all_pack_minor.cmd
NuGetPackages/Bryan/copy_all_pack_patch.cmd
NuGetPackages/Bryan/copy_Bryan.Apellanes.cmd
NuGetPackages/Bryan/copy_Bryan.Apellanes.CommandLine.cmd
NuGetPackages/Bryan/copy_Bryan.Apellanes.Data.cmd
NuGetPackages/Bryan/copy_Bryan.Apellanes.Full.cmd
NuGetPackages/Bryan/copy_Bryan.Apellanes.Incubation.cmd
NuGetPackages/Bryan/copy_Bryan.Apellanes.Logging.cmd
NuGetPackages/Bryan/copy_Bryan.Apellanes.ServiceProxy.cmd
NuGetPackages/Bryan/copy_Bryan.Apellanes.Testing.cmd
NuGetPackages/Bryan/copy_Bryan.Apellanes.Users.cmd
NuGetPackages/Bryan/increment_major.cmd
NuGetPackages/Bryan/increment_minor.cmd
NuGetPackages/Bryan/increment_patch.cmd
NuGetPackages/Bryan/MSBuild.exe.config
NuGetPackages/Bryan/pack.cmd
NuGetPackages/Bryan/pack_minor.cmd
NuGetPackages/Bryan/pack_patch.cmd
NuGetPackages/Bryan/README.txt
NuGetPackages/Bryan/remove_nuspec_ro.cmd
NuGetPackages/Bryan/set_nuspec_version.cmd
NuGetPackages/rencopy.json
Products/BamToolkit/BamToolkit/Express/DVD-5/DiskImages/DISK1/BamToolkit.msi
Products/BamToolkit/BamToolkit/Express/DVD-5/LogFiles/11-18-2013 08-38-15 PM.txt
Products/BamToolkit/BamToolkit/Express/DVD-5/DiskImages/DISK1/BamToolkit.msi
