// model is SchemaDefinition
using System;
using System.Data;
using System.Data.Common;
using Brevitee;
using Brevitee.Data;
using Brevitee.Data.Qi;

namespace @Namespace
{
	// schema = @Model.Name 
    public static class @(Model.Name)Context
    {
		public static string ConnectionName
		{
			get
			{
				return "@(Model.Name)";
			}
		}

		public static Database Db
		{
			get
			{
				return Brevitee.Data.Db.For(ConnectionName);
			}
		}

		@foreach(Table table in Model.Tables)
		{
			WriteContextMethods(table);
		}
    }
}																								
