	// property:@Model.PropertyName, columnName:@Model.Name	
	[Exclude]
	[Brevitee.Data.KeyColumn(Name="@Model.Name", DbDataType="@Model.DbDataType", MaxLength="@Model.MaxLength")]
	public @(Model.NativeType) @Model.PropertyName
	{
		get
		{
			return Get@(Model.Type)Value("@Model.Name");
		}
		set
		{
			SetValue("@Model.Name", value);
		}
	}

