// Model is Table
using System;
using System.Data;
using System.Data.Common;
using Brevitee;
using Brevitee.Data;
using Brevitee.Data.Qi;

namespace @Namespace
{
	public partial class @Model.ClassName
	{
		  // Your code here
	}
}																								
