@{
    ViewBag.Title = "Start";
}

@section scripts{
    @Scripts.Render("~/bam/js/using.js")
    @Scripts.Render("~/bam/js/application.js")
    @Scripts.Render("~/bam/js/slideshow.js")

    @Scripts.Render("~/bam/start.js")
}
<h2>Application Start</h2>

<div class="span12" style="height: 350px;">
    <div id="pageContent">
    
    </div>
</div>