<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <connectionStrings>
    <!--<add name="Stickerize" 
         connectionString="Data Source=192.168.0.59;Initial Catalog=Stickerize;User Id=naizari;Password=N41z4r1P455w0rd!;" 
         providerName="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->


  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.85.0" newVersion="1.0.85.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
